body
  background #0F2D5E
  color white
  font-family "Open Sans", sans

.ui
  display flex
  justify-content flex-start
  align-items center

  background rgba(black, 0.5)

.active-cube, .cubes, #add-cube, .cube-color, .scale-cubes,
#delete-active-cube, #delete-active-cube-confirmation
  margin 10px
  display div

.hidden
  display none
